html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  overscroll-behavior: none;
  background-color: black;
}

hr {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 1rem 0;
  width: 100%;
}

button {
  font-size: 18px;
  outline: none;
  border: none;
  color: black;
  background-color: transparent;
  padding: 5px 20px;
  border-radius: 3px;
  transition: background-color 0.2s ease;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: rgb(230, 230, 230);
}

button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.hidden {
  display: none !important;
}

#game-canvas {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  border: 2px solid gray;
}

#play-menu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  padding: 20px 30px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  text-align: center;
}

#play-menu p {
  margin-bottom: 0;
}

#play-menu input {
  font-size: 18px;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 5px;
  padding: 3px;
  text-align: center;
}

#play-menu input:hover {
  outline: none;
}

#leaderboard {
  position: fixed;
  top: 3%;
  left: 3%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 5px;
}

#leaderboard th {
  text-align: center;
  padding: 2px 5px;
}

#leaderboard td {
  text-align: center;
  padding: 2px 5px;
}

#disconnect-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

#disconnect-modal>div {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  padding: 15px 20px;
  background-color: white;
  border-radius: 5px;
  text-align: center;
}

@media screen and (max-width: 640px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  #play-menu {
    padding: 10px 15px;
    min-width: 280px;
  }

  #disconnect-modal>div {
    padding: 10px;
    min-width: 280px;
  }

  #leaderboard th {
    padding: 0 3px;
  }

  #leaderboard td {
    padding: 0 3px;
  }

  #leaderboard table {
    font-size: 14px;
  }
}

/*------------------------------------*/

#inputbar {
  position: fixed;
  bottom: 10%;
  left: 0;
  right: 0;
  width: 300px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  border-radius: 5px;
}

#checkbox {

  position: fixed;
  bottom: 20%;
  left: 0;
  right: 0;
  width: 300px;
  margin: auto;
  padding: 10px;
  border-radius: 5px;
  color: white;
  text-align: center;

}


#micimage {

  position: fixed;
  bottom: 10%;
  left: 0;
  right: 350px;
  width: 50px;
  margin: auto;
  padding: 10px;
  border-radius: 5px;

}

#micstatus {

  position: fixed;
  bottom: 10%;
  left: 0;
  right: 550px;
  width: 150px;
  margin: auto;
  padding: 10px;
  border-radius: 5px;
  color: white;
  text-align: center;

}

#game-over {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  padding: 20px 30px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  text-align: center;
}

#game-over p {
  margin-bottom: 0;
}

#game-over input {
  font-size: 18px;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 5px;
  padding: 3px;
  text-align: center;
}

#game-over input:hover {
  outline: none;
}

#container {
  position: absolute;
  right: 2%;
  top: 50%;
  width: 40%;
  height: 94%;
  overflow: hidden;
  transform: translateY(-50%);
  border: 2px solid gray;
  cursor: inherit;
}